<h1>Editing text input</h1>

<%= render "form", inputs_text_input: @inputs_text_input %>

<br>

<div>
  <%= link_to "Show this text input", @inputs_text_input %> |
  <%= link_to "Back to text inputs", inputs_text_inputs_path %>
</div>
