<div id="<%= dom_id boolean_input %>">
  <p>
    <strong>Name:</strong>
    <%= boolean_input.name %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= boolean_input.label %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= boolean_input.type %>
  </p>

</div>
