<h1>Editing boolean input</h1>

<%= render "form", inputs_boolean_input: @inputs_boolean_input %>

<br>

<div>
  <%= link_to "Show this boolean input", @inputs_boolean_input %> |
  <%= link_to "Back to boolean inputs", inputs_boolean_inputs_path %>
</div>
