<div id="<%= dom_id page %>">

  <h1>
    <%= page.title %>
  </h1>

  <section>
    <% page.forms.each do |form| %>
      <form url='/'>
        <fieldset>
          <legend>
            <%= render form %>
            <% form.inputs.each do |input| %>
              <%= render input %>
            <% end %>
          </legend>
        </fieldset>
      </form>
    <% end %>
  </section>

</div>
